{% extends 'base.html.twig' %}

{% block title %}{{ book.titulo }}{% endblock %}

{% block secondTitle %}
    <div class="estado {{ status.status|lower }}">
        <span id="title"><span class="circulo"></span>{{ book.titulo }}</span>
        <span class="estadoName h5">{{ status.status }}</span>
    </div>
{% endblock %}

{% block content %}
    
    <div class="row media mt-3">
        <div class="col-md-1"></div>
        <div class="col-md-5 col-12 mr-3 text-center">
            <img src="{{ asset('image/images/' ~ image) }}" class="book"/>
        </div>



        <div class="col-12 col-md-5 media-body align-self-center bookDetails">
                    
            <table class="table">
                <tbody>
                    <tr>
                        <td>{{ book.autor }}</td>
                        <td>{{ book.fechaPublicacion|date("d/m/Y") }}</td>
                    </tr>
                            
                    <tr>
                        <td>{{ book.editorial}}</td>
                        <td>{{ book.Lengua.name() }}</td>
                    </tr>

                    <tr>
                        <td colspan="2" class="text-center">
                            {{ (status.fechaComienzo != null) ? status.fechaComienzo|date("d/m/Y") : "??? " }}
                            -
                            {{ (status.fechaFinal != null) ?  status.fechaFinal|date("d/m/Y") : " ???" }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-1"></div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6 col-6 text-center">
            <a href="/updateReadingStatus/{{book.id}}" class="btn btn-primary">Actualizar lectura</a>
        </div>
        <div class="col-md-6 col-6 text-center">
            <a href="/updateBook/{{ book.id }}" class="btn btn-primary">Editar libro</a>
        </div>
    </div>

    
{% endblock %}
